#
# cepulc
#

# Part 1
# Chapter 1
program-1-1
# Chapter 2
program-2-1
program-2-2
program-2-3
program-2-4
program-2-5
# Chapter 3
program-3-1
program-3-2
program-3-3
# Chapter 4
program-4-1
program-4-2

##############################################################################

# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
